/input/EEG_data/*.eeg
/input/EEG_data/*.vhdr
/input/EEG_data/*.vmrk
.DS_Store
/output/*.mat
/output/archive1/*.mat
/output/archive2/*.mat
/derivatives/deriv01_data_preprocessed/*.mat
/derivatives/deriv02_data_ICA/*.mat
/derivatives/deriv04_data_clean/*.mat
/derivatives/deriv04_data_clean/archive/*.mat
/derivatives/deriv05_bad_trials/*.mat
/derivatives/deriv05_bad_trials/archive/*.mat



derivatives/deriv05_bad_trials/subject31.mat
derivatives/deriv05_bad_trials/subject30.mat
derivatives/deriv05_bad_trials/subject29.mat
derivatives/deriv05_bad_trials/subject28.mat
derivatives/deriv05_bad_trials/subject27.mat
derivatives/deriv05_bad_trials/subject26.mat
derivatives/deriv05_bad_trials/subject25.mat
derivatives/deriv05_bad_trials/subject24.mat
derivatives/deriv05_bad_trials/subject23.mat
derivatives/deriv05_bad_trials/subject22.mat
derivatives/deriv05_bad_trials/subject21.mat
derivatives/deriv05_bad_trials/subject20.mat
derivatives/deriv05_bad_trials/subject19.mat
derivatives/deriv05_bad_trials/subject18.mat
derivatives/deriv05_bad_trials/subject17.mat
derivatives/deriv05_bad_trials/subject16.mat
derivatives/deriv05_bad_trials/subject14.mat
derivatives/deriv05_bad_trials/subject13.mat
derivatives/deriv05_bad_trials/subject12.mat
derivatives/deriv05_bad_trials/subject11.mat
derivatives/deriv05_bad_trials/subject10.mat
derivatives/deriv05_bad_trials/subject09.mat
derivatives/deriv05_bad_trials/subject08.mat
derivatives/deriv05_bad_trials/subject07.mat
derivatives/deriv05_bad_trials/subject06.mat
derivatives/deriv05_bad_trials/subject05.mat
derivatives/deriv05_bad_trials/subject04.mat
derivatives/deriv05_bad_trials/subject03.mat
derivatives/deriv05_bad_trials/subject02.mat
derivatives/deriv05_bad_trials/subject31.mat
derivatives/deriv05_bad_trials/subject30.mat
derivatives/deriv05_bad_trials/subject29.mat
derivatives/deriv05_bad_trials/subject28.mat
derivatives/deriv05_bad_trials/subject27.mat
derivatives/deriv05_bad_trials/subject26.mat
derivatives/deriv05_bad_trials/subject25.mat
derivatives/deriv05_bad_trials/subject24.mat
derivatives/deriv05_bad_trials/subject23.mat
derivatives/deriv05_bad_trials/subject22.mat
derivatives/deriv05_bad_trials/subject21.mat
derivatives/deriv05_bad_trials/subject20.mat
derivatives/deriv05_bad_trials/subject19.mat
derivatives/deriv05_bad_trials/subject18.mat
derivatives/deriv05_bad_trials/subject17.mat
derivatives/deriv05_bad_trials/subject16.mat
derivatives/deriv05_bad_trials/subject14.mat
derivatives/deriv05_bad_trials/subject13.mat
derivatives/deriv05_bad_trials/subject12.mat
derivatives/deriv05_bad_trials/subject11.mat
derivatives/deriv05_bad_trials/subject10.mat
derivatives/deriv05_bad_trials/subject09.mat
derivatives/deriv05_bad_trials/subject08.mat
derivatives/deriv05_bad_trials/subject07.mat
derivatives/deriv05_bad_trials/subject06.mat
derivatives/deriv05_bad_trials/subject05.mat
derivatives/deriv05_bad_trials/subject04.mat
derivatives/deriv05_bad_trials/subject03.mat
derivatives/deriv05_bad_trials/subject02.mat
